.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    
    
    font-family: 'Lora', serif;
    user-select: none;
    font-size: 5rem;
    color: white;
    margin-right: 1000px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-right: 1000px;
    position: relative;
}

.line{

    width: 200px;
    height: 1px;
    background-color: rgb(199, 163, 96);
    margin-right: 50px;
    user-select: none;
}

.text{
    width: 67%;
    font-size: 30px;  
}

.link {
    color:white;
    text-decoration-color: rgb(199, 163, 96);
    font-size: 20px;
    margin-bottom: 120px;
    margin-right: 1280px;  
}

.imagen {
    user-select: none;
    display: flex;
    align-items: center;
    height: 900px;
    width: 1440px;
    padding-left: 10px;
    margin-bottom: 50px;
    border-left: 2px solid rgb(199, 163, 96);
    overflow: hidden;
    box-shadow: 2px 2px 18px -4px rgba(0,0,0,0.75);
}

.imagen img{
    height: 100%;
    width: 100%; /* Ajusta la altura de la imagen al 100% del div */
    object-fit: cover; /* Hace que la imagen se ajuste y cubra todo el espacio disponible */
}